.form-white.input-group>.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }


/*=======================================================================
1. Typography
=========================================================================*/
html {
    height: 100%;
  }
  body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #646464;
    background-color: #fff;
  }
  p {
    margin: 0 0 20px 0;
    color: #646464;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 20px 0;
    color: #111;
  }
  h1,
  h2 {
    line-height: 1.2;
  }
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }
  h1 {
    font-size: 36px;
  }
  @media only screen and (max-width: 1199px) {
    h1 {
      font-size: 34px;
    }
  }
  @media only screen and (max-width: 991px) {
    h1 {
      font-size: 32px;
    }
  }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 30px;
    }
  }
  h2 {
    font-size: 28px;
  }
  @media only screen and (max-width: 1199px) {
    h2 {
      font-size: 26px;
    }
  }
  @media only screen and (max-width: 991px) {
    h2 {
      font-size: 24px;
    }
  }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 22px;
    }
  }
  h3 {
    font-size: 22px;
  }
  @media only screen and (max-width: 991px) {
    h3 {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 18px;
    }
  }
  h4 {
    font-size: 20px;
  }
  @media only screen and (max-width: 991px) {
    h4 {
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 16px;
    }
  }
  h5 {
    font-size: 18px;
  }
  @media only screen and (max-width: 991px) {
    h5 {
      font-size: 16px;
    }
  }
  /*=======================================================================
  2. Template Default Style
  =========================================================================*/
  a {
    text-decoration: none;
  }
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  a:active,
  a:hover,
  a:focus {
    outline: 0 none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }
  .fxt-content-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 767px) {
    .fxt-none-767 {
      display: none !important;
    }
  }
  @media only screen and (max-width: 991px) {
    .fxt-none-991 {
      display: none !important;
    }
  }
  /*========================================================================
  3. Template Animation
  =========================================================================*/
  .fxt-template-animation {
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .fxt-template-animation .fxt-transformY-50 {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  .loaded.fxt-template-animation {
    opacity: 1;
  }
  .loaded.fxt-template-animation .fxt-transformY-50 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .loaded.fxt-template-animation .fxt-transition-delay-11 {
    -webkit-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }

  /*========================================================================
  14. Demo Layout Eleven
  =========================================================================*/
  .fxt-template-layout11 {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 15px;
  }
  .fxt-template-layout11 .fxt-checkbox-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .fxt-template-layout11 .fxt-bg-color {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
  }
  .fxt-template-layout11 .fxt-bg-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  .fxt-template-layout11 .fxt-content {
    padding: 65px 90px 45px;
    width: 100%;
    background-color: #fff;
  }
  @media only screen and (max-width: 767px) {
    .fxt-template-layout11 .fxt-content {
      padding: 65px 30px 45px;
    }
  }
  .fxt-template-layout11 .fxt-header {
    text-align: center;
    margin-bottom: 50px;
  }
  .fxt-template-layout11 .fxt-header .fxt-logo {
    display: block;
    margin-bottom: 25px;
  }
  .fxt-template-layout11 .fxt-header .fxt-logo img {
    width: 200px;
  }
  .fxt-template-layout11 .fxt-header h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .fxt-template-layout11 .fxt-header p {
    color: #999898;
  }
  .fxt-template-layout11 .fxt-header-error p {
    color: #B00020;
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
  }

  .fxt-template-layout11 .fxt-form h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .fxt-template-layout11 .fxt-form p {
    color: #B00020;
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
  }
  .fxt-template-layout11 .fxt-form form .input-label {
    color: #979696;
  }
  .fxt-template-layout11 .fxt-form .form-group {
    position: relative;
    z-index: 1;
  }
  .fxt-template-layout11 .fxt-form .form-group .field-icon {
    position: absolute;
    z-index: 1;
    right: 19px;
    bottom: 18px;
    font-size: 14px;
    color: #a1a1a1;
  }
  .fxt-template-layout11 .fxt-form .form-group .field-icon:before {
    padding: 17px 10px;
  }
  .fxt-template-layout11 .fxt-form .form-control {
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #111;
  }
  .fxt-template-layout11 .fxt-form input::-webkit-input-placeholder {
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 300;
  }
  .fxt-template-layout11 .fxt-form input::-moz-placeholder {
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 300;
  }
  .fxt-template-layout11 .fxt-form input:-moz-placeholder {
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 300;
  }
  .fxt-template-layout11 .fxt-form input:-ms-input-placeholder {
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 300;
  }
  .fxt-template-layout11 .fxt-btn-fill {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 3px;
    background-color: #111;
    padding: 10px 36px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .fxt-template-layout11 .fxt-btn-fill:hover {
    background-color: #333;
    border-color: #333;
  }
  .fxt-template-layout11 .fxt-btn-fill:focus {
    outline: none;
  }
  .fxt-template-layout11 .switcher-text {
    color: #63bbff;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .fxt-template-layout11 .switcher-text:hover {
    color: #000000;
  }
  .fxt-template-layout11 .switcher-text2 {
    color: #63bbff;
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .fxt-template-layout11 .switcher-text2.inline-text {
    margin-left: 3px;
  }
  .fxt-template-layout11 .switcher-text2:hover {
    color: #000000;
  }
  .fxt-template-layout11 .fxt-style-line {
    overflow: hidden;
    text-align: center;
  }
  .fxt-template-layout11 .fxt-style-line h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
    color: #a4a4a4;
    display: inline-block;
    position: relative;
    padding: 0 25px;
    z-index: 1;
  }
  .fxt-template-layout11 .fxt-style-line h3:before {
    display: inline-block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
  }
  .fxt-template-layout11 .fxt-style-line h3:after {
    display: inline-block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
  }
  .fxt-template-layout11 ul.fxt-socials {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 20px;
  }
  .fxt-template-layout11 ul.fxt-socials li {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 575px) {
    .fxt-template-layout11 ul.fxt-socials li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
  }
  @media only screen and (max-width: 350px) {
    .fxt-template-layout11 ul.fxt-socials li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }
  .fxt-template-layout11 ul.fxt-socials li a {
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    height: 45px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .fxt-template-layout11 ul.fxt-socials li a i {
    border-radius: 2px 0 0 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  .fxt-template-layout11 ul.fxt-socials li a span {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-facebook a {
    background-color: #3b5998;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-facebook a i {
    background-color: #4867aa;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-facebook a:hover {
    background-color: #5676bb;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-twitter a {
    background-color: #00acee;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-twitter a i {
    background-color: #33ccff;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-twitter a:hover {
    background-color: #3dc5f3;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-google a {
    background-color: #CC3333;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-google a i {
    background-color: #db4437;
  }
  .fxt-template-layout11 ul.fxt-socials li.fxt-google a:hover {
    background-color: #e75042;
  }
  .fxt-template-layout11 .checkbox {
    padding-left: 5px;
    margin-right: 30px;
    margin-bottom: 5px;
  }
  .fxt-template-layout11 .checkbox label {
    padding-left: 20px;
    color: #a4a4a4;
    margin-bottom: 0;
    font-size: 15px;
    position: relative;
  }
  .fxt-template-layout11 .checkbox label:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    margin-left: -5px;
    border: 1px solid;
    border-color: #dcdcdc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  .fxt-template-layout11 .checkbox label:after {
    position: absolute;
    margin-left: -20px;
    padding-left: 3px;
    font-size: 10px;
    color: #555555;
  }
  .fxt-template-layout11 .checkbox input[type="checkbox"] {
    display: none;
  }
  .fxt-template-layout11 .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    font-weight: 900;
    color: #ffffff;
    left: 15px;
    top: 4px;
  }
  .fxt-template-layout11 .checkbox input[type="checkbox"]:checked + label::before {
    background-color: #111;
    border-color: #111;
  }
  .fxt-template-layout11 .fxt-footer {
    text-align: center;
  }
  .fxt-template-layout11 .fxt-footer p {
    color: #999898;
  }
